/* Estilos Gerais da Página de Parceiros */
.partners {
    text-align: center;
    padding: 40px 20px;
}

.partners h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.partner-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.partner-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}

.partner-item img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.partner-item h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.partner-item p {
    font-size: 1em;
    color: #555;
}


body {
    animation: bgChange 5s infinite;
}

@keyframes bgChange {
    0% { background-color: #bde7cf; }
    33% { background-color: #c8f5d0; }
    100% { background-color: #90a06f; }
}

p {
    text-align: center;
    background-color: #333;
    color: #fff;
}

/* Estilo básico da barra de navegação */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 15px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s ease;
}

/* Efeito de cor ao passar o cursor */
nav a:hover {
    color: #FFD700; /* Cor do texto ao passar o cursor */
}

/* Animação do sublinhado */
nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Posicionamento abaixo do texto */
    width: 100%;
    height: 2px;
    background-color: #FFD700; /* Cor da linha de destaque */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* Efeito de expansão da linha ao passar o cursor */
nav a:hover::after {
    transform: scaleX(1);
}
